@model List<YummyProject.Models.SocialMedia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h2>Sosyal Medya</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Url</th>
        <th>Başlık</th>
        <th>İkon</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {


        <tr>
            <td>@item.SocialMediaId</td>
            <td>@item.Url</td>
            <td>@item.Title</td>
            <td>@item.Icon</td>

            <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaId" class="btn btn-danger">Sil</a></td>
            <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-info">Güncelle</a></td>
        </tr>
    }

</table>
<br />
<a href="/SocialMedia/CreateSocialMedia" class="btn btn-primary">Sosyal Medya Ekle</a>

